<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <style type="text/css">
        label{
         display: inline-block;
         text-align:left;
         width: 200px;
         margin:5px;
        }

    </style>
</head>
<body>
<label>Name : </label><span th:text="${user.name}"></span> <br/>
<label>Email: </label><span th:text="${user.email}"></span><br/>
<label>Password: </label><span th:text="${user.password}"></span><br/>
<label>Proffessionl: </label><span th:text="${user.proffesion}"></span><br/>
<label>Married:</label><span th:text="${user.married}"></span><br/>
<label>Gender:</label><span th:text="${user.gender}"></span><br/>
<label>Note: </label><span th:text="${user.note}"></span><br/>


</body>
</html>