<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <style type="text/css">
        label{
         display: inline-block;
         text-align:left;
         width: 200px;
         margin:5px;
        }

        input[type=text], input[type=password], select{
         display:inline-block;
         width:200px;
        }
        input[type=checkbox]{
         margin-right:190px;
        }

        button{
         margin:10px;
         padding:5px;
        }
    </style>
</head>
<body>
<div align="center"><h1>User Registration Form</h1></div>

<form method="post" th:action="@{/register}" th:object="${user}">
    <label>Name</label>
    <input th:field="*{name}" type="text"/><br/>
    <label>Email Address</label>
    <input th:field="*{email}" type="text"/><br/>
    <label>Password</label>
    <input th:field="*{password}" type="password" /><br/>

    <label>Proffession</label>
    <select th:field="*{proffesion}">
        <option th:each="p : ${professionlist}" th:text="${p}" th:value="${p}"/>
    </select><br/>
    <label>Gender</label>
    Male <input type="radio" th:field="*{gender}" value="Male" name="gender"/>
    Female <input type="radio" th:field="*{gender}" value="Female" name="gender">
    <br/>

    <label>Married</label>
    <input type="checkbox" th:field="*{married}" /><br/>

    <label>Note</label>
    <textarea th:field="*{note}" type="text" rows="5" cols="15"></textarea> <br/>

    <button type="submit">Submit</button>
</form>
</body>
</html>